table {
  border-collapse: collapse;
  border-spacing: 0;
}


a {
  color: $color-skyblue;

  &:hover, &:focus {
    color: #54C1EA;
  }
}

.section {

  & + & {
    margin-top: $layout-gutter;
  }

  &.__head {
    margin-top: $layout-gutter;
  }

  &.__foot {
    margin-bottom: $layout-gutter;
  }

  > .row{
  	width: 100%;
  	float: left;
  }
}

//
// Other component stylings (should be elsewhere but put here for now)
//

// Set an inset for the content on a site page.
.SitePage {
  padding: 22px 30px;
}

// Add a space after a page section.
div.PageSection {
  margin-bottom: 25px;
}

// Format a page section's header.
.PageSection h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 0;
}

.ControlsRowLabel {
  margin-top: 10px;
}


// Should be applied to form input wrapper.
// Example:
// <div class="form-input-validate">
//   <input class="txbox" required>
// </div>
// =======

.form-input-validate {

  &.valid .txbox {
    background: inline("icons/valid.png") #FFF no-repeat 97% 3px;
  }

  &.invalid .txbox {
    background: inline("icons/invalid.png") #FFF no-repeat 97% 3px;
  }
}
