h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
  font-family: 'Muli', "Helvetica", Arial, sans-serif; // 'Avenir', 'Fjalla One', 'Montserrat', 'Muli'
}

h4, .h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-normal; // $font-weight-bold;
  //line-height: 1.2em;
}
