$font-color: #0c2544 !default;

$table-line-color: #ddd !default;

$black-background-color: #212120 !default; // CK: this is the side panel background color

// $darkblue-background-color: #35495E !default; // this is the dark blue color from Vue.js branding 
$darkblue-background-color: #0c2544 !default;
$button-bg: $main-color;

$default-color: #0c2544 !default;
$default-bg: #0c2544 !default;

$padding-base-horizontal: 10px !default;
$margin-large-vertical: 5px !default;

// border radius for buttons
$border-radius-btn-small: 2px !default;
$border-radius-btn-base: 2px !default;
$border-radius-btn-large: 5px !default;

$font-size-h4: 1.4em !default;

$bg-nude: #f8f8f4 !default; // CK: main color!!!!!
$bg-success: rgba(0, 136, 0, 1.0); // #008800; //#8EF3C5 !default;
$bg-warning: rgba(226, 151, 34, 1.0); // #e29722; //#de4724; //#FFE28C !default;

$sidebar-subtitle-orange: #e95e37 !default;

// Colors
$color-skyblue: #00aeef;
$color-red: #C00;
$color-yellow: #FC0;

// Layout
$layout-gutter: 20px !default;
